{% extends 'bash_foot.html' %}

{% block body %}
    <div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到天天生鲜!</div>
			<div class="fr">
                {%if request.session.user_name|default:'' != ''%}
				    <div class="login_info fl">
					欢迎您：<em>{{ request.session.user_name }}</em>
                    <span>|</span>
                    <a href="/user/logout">退出</a>
				    </div>

                {% else %}
				<div class="login_btn fl">
					<a href="/user/login">登录</a>
					<span>|</span>
					<a href="/user/register">注册</a>
				</div>
                {% endif %}
				<div class="user_link fl">
					<span>|</span>
					<a href="/user/info">用户中心</a>
					<span>|</span>
					<a href="/cart/cart">我的购物车</a>
					<span>|</span>
					<a href="/user/order">我的订单</a>
				</div>
			</div>
		</div>
	</div>
    <div class="search_bar clearfix">
		<a href="/index.html" class="logo fl"><img src="/static/tiantian/images/logo.png"></a>
		<div class="search_con fl">
            {# 表单传送到搜索的ｕｒｌ中　name=q　必须的，ｈａｙｓｔａ框架默认的用ｑ传输 #}
        <form method='get' action='/search/' target='_blank'>
			<input type="text" class="input_text fl" name="q" placeholder="搜索商品">
			<input type="submit" class="input_btn fr" name="" value="搜索">
        </form>
        </div>
		<div class="guest_cart fr">
			<a href="/cart/cart" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count">{{ request.session.count|default:'0'}}</div>
		</div>
	</div>


	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>
				<ul class="subnav" id="caidan">
					<li><a href="/list1_1_1" class="fruit">新鲜水果</a></li>
					<li><a href="/list2_1_1" class="seafood">海鲜水产</a></li>
					<li><a href="/list3_1_1" class="meet">猪牛羊肉</a></li>
					<li><a href="/list4_1_1" class="egg">禽类蛋品</a></li>
					<li><a href="/list5_1_1" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="/list6_1_1" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

    {% if ups == 1 %}
	<div class="breadcrumb">
		<a href="/">全部分类</a>
		<span>></span>
		<a href="/list{{ goodstype.id }}_1_1">{{ goodstype.title }}</a>
        {% if ups1 == 1 %}
        <span>></span>
        <a href="/{{ goods.id }}/">商品详情</a>
        {% endif %}
	</div>
    {% endif %}


   {% block body2 %}
   {% endblock body2 %}


    {% if lists == 1 %}
    <div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for g in new_goods %}
					<li>
						<a href="/{{ g.id }}/"><img src="/static/{{ g.gpic }}"></a>
						<h4><a href="/{{ g.id }}/">{{ g.gtitle }}</a></h4>
						<div class="prize">￥{{ g.gprice }}</div>
					</li>
                    {% endfor %}
				</ul>
			</div>
		</div>
    {% block detail %}{% endblock detail %}
    </div>
    {% endif %}






{% endblock body %}