{% extends 'df_goods/base.html' %}

{% block head %}
    <script>
    //　计算添加　金额
        function add() {
            num =parseInt($('.num_show').val()); // 把字符串类型转化为int类型
            $('.num_show').val(num+1);
            $('.num_show').blur()  // 点击 进行+ - 运算后， 执行num_show.blur 事件，
        }                           // 点击+后价格就能计算修改，不然要再点击数量框才能计算修改值。
        function  minus() {
            num = parseInt($('.num_show').val());
            if (num>1){
                $('.num_show').val(num-1);
            }
            $('.num_show').blur()

        }
        $(function () {
            // 计算　＋　－金额
            $('.num_show').blur(function () {
                num = parseInt($('.num_show').val()) // 转换为整数
                if (num>0) { // 非负数才执行
                    $('.num_show').val(num)// 数量框只可显示为整数数量,把转化整数的num显示在数量框中

                    price = parseFloat($('#gprice').text())// text 为获取em标签中的输出值
                    zongjia = num * price
                    $('#zong').text(zongjia.toFixed(2) + '元') // 计算后修改总价格，传到zong标签的显示效果text中
                }

                else{
                    num = 1
                    $('.num_show').val(num);
                }
                })
            // 加入购物车，　只能通过这种方法  在ｈｔｍｌ中是无法获取到用ｊｓ +-操作后的数量（在其他标签中的值）
            $('.add_cart').click(function () {
                txt = $('.num_show').val() //　获取数量
                url = '/cart/add{{ goods.id }}_'+txt  // 构造地址，　产品ｉｄ，数量
                $.get(url,function (data) {
                    $('#show_count').text(data.count) //向父页面购物车中写入回调函数获得的数量值
                })

            })
            //　购买页面
            $('#buy').click(function () {

                num = $('.num_show').val()  //　商品数量

                kucun = {{ goods.gkucun }} //库存
                if (num <=kucun) {
                    window.location.href = '/cart/add{{ goods.id }}_' + num
                    {# 转向给添加商品的试图，该ａｄｄ试图中判断　如不是ａｊａｘ提交的转向购物车 #}
                }
                else{
                    alert('超出库存')
                    return false;
                }
                })

        })

    </script>
    <style>
        .kucun{
            color: #878787;
            padding-left:30px;
            line-height: 62px;
            font-size: 13px;

    }
    </style>>
{% endblock head %}

{% block body2 %}


	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/{{ goods.gpic }}"></div>

		<div class="goods_detail_list fr">
			<h3>{{ goods.gtitle }}</h3>
			<p>{{ goods.gjianjie}}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em id="gprice">{{ goods.gprice }}</em></span>
				<span class="show_unit">单  位：{{ goods.gunit }}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:add();" class="add fr">+</a>
					<a href="javascript:minus();" class="minus fr">-</a>
				</div>
                 <span class="kucun">库存:{{ goods.gkucun }}</span>
			</div>
			<div class="total">总价：<em id="zong">{{ goods.gprice }}元</em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn" id="buy">立即购买</a>
                {% if request.session.user_name|default:'' != "" %}
				<a href='javascript:;' class="add_cart" id="add_goods">加入购物车</a>
                {% else %}
                <a href='/user/login' class="add_cart" >加入购物车</a>
                {% endif %}
			</div>
		</div>
	</div>

{% endblock body2 %}

  {% block detail %}
    <div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{ goods.gcontext|safe }} </dd>
				</dl>
			</div>
		</div>

  {% endblock detail %}


{% block detail_js %}

     <div class='add_jump'></div>
	<script type="text/javascript">
  // 动画
		var $add_x = $('#add_goods').offset().top;
		var $add_y = $('#add_goods').offset().left;

		var $to_x = $('#show_count').offset().top;　
		var $to_y = $('#show_count').offset().left;

　　　

		$('#add_goods').click(function(){
         $(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
		    $(".add_jump").stop().animate({

				'left': $to_y+7,
				'top': $to_x+7,

                },

				"fast", function() {
					$(".add_jump").fadeOut('fast',function(){
						$('#show_count').html({{ requset.session.count }});
					});

			});
		});

	</script>
    {% endblock detail_js%}
