{% extends 'df_goods/base.html' %}

{% block head %}
    <script>
    $(function () {
        $('.add_goods').click(function () {
            id = $(this).attr('id') // 返回当前被选的属性函数（获取当前产品的id）
            url= '/cart/add'+ id+'_1' //构建添加到购物车add函数的地址,_1 正则_(\d) 表示加1数量
            $.get(url,function (data) { // ajax 请求， 回调函数获取返回的json数据
                $('#show_count').text(data.count)　//　父级页面中的ｓｈｏｗ_count选择器，文本框中值更改为获取的ｊｓｏｎ数据

            })
        })
    })
    </script>

    <style>
    .r_wrap{
        width: 1024px;
    }
    </style>
{% endblock head %}
{% block body2 %}
		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="/list{{ goodstype.id }}_1_1"
                {% if sort == 1 %}
                   class="active"
                    {% endif %}

                    >默认</a>

				<a href="/list{{ goodstype.id }}_1_2"
                   {% if sort == 2 %}
                   class="active"
                    {% endif %}>价格</a>

				<a href="/list{{ goodstype.id }}_1_3"
                   {% if sort == 3 %}
                   class="active"
                    {% endif %}>人气</a>
			</div>

			<div class="goods_type_list clearfix">
                {% for g in pageinator %}
				<li>
					<a href="/{{ g.id }}"><img src="/static/{{ g.gpic }}"></a>
					<h4><a href="/{{ g.id }}">{{ g.gtitle }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ g.gprice }}</span>
						<span class="unit">{{ g.gprice }}/{{ g.gunit }}</span>

                        {% if request.session.user_name|default:'' != '' %}
						<a href="javascript:;" id ="{{ g.id }}" class="add_goods"  title="加入购物车"></a>
                        {% else %}
                        <a href="/user/login" class="add_goods"  title="加入购物车"></a>
                        {% endif %}

					</div>
				</li>
                {% endfor %}
            </div>





			<div class="pagenation">
                {% if pageinator.has_previous %}
				<a href="/list{{ goodstype.id }}_{{ pageinator.previous_page_number }}_{{ sort }}">上一页</a>

                {% endif %}
                {% for index in index_list %}
                    {% if index == pindex  %}
				    <a href="#" class="active">{{ index }}</a>
                    {% else %}
                    <a href="/list{{ goodstype.id }}_{{ index }}_{{ sort }}">{{ index }}</a>
                {% endif %}
                {% endfor %}
             {% if pageinator.has_next %}
				<a href="/list{{ goodstype.id }}_{{ pageinator.next_page_number }}_{{ sort }}">下一页></a>
                {% endif %}


			</div>
        </div>

{% endblock body2 %}

    {% block detail_js %}
     <div class='add_jump'></div>
	<script type="text/javascript">

		var $add_x = $('.add_goods').offset().top; // 获取当前ａｄｄ_goods对象的　ｘ轴
		var $add_y = $('.add_goods').offset().left;

		var $to_x = $('#show_count').offset().top;　//　获取购物车的ｘ轴
		var $to_y = $('#show_count').offset().left;

　　　　//　因只能获取第一个的商品位置，所以更改了小红点触显示的位置,局部刷新非页面刷新，所以要把红点放在ｃｌｉｃｋ中

		$('.add_goods').click(function(){  // 点击事件时小红点停止当前动画返回到ｔｏ_y+7的位置（购物车的位置）
		    $(".add_jump").css({'left':$add_y+790,'top':$add_x-300,'display':'block'}) // 动画小红点设置位置，
                                                                            // 然后使用ｓｔｏｐ让它停止当前动画
            //                                          （当前也无动画，目的是让它回到目标起点）沿路返回起点，完成动画效果。
		    $(".add_jump").stop().animate({

				'left': $to_y+7,
				'top': $to_x+7,

                },

				"fast", function() {
					$(".add_jump").fadeOut('fast',function(){
						$('#show_count').html({{ requset.session.count }});//　等于ｓｅｓｓｉｏｎ中存放的数量
					});

			});
		});

	</script>
    {% endblock detail_js%}
